<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">Octopus Deploy Lab</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="http://octopusdeploy.com/" target="_blank">octopusdeploy.com</a></li>
                        <li><a href="http://docs.octopusdeploy.com/display/OD/Home" target="_blank">The Octopus Deploy documentation</a></li>
                        <li><a href="http://octopusdeploy.com/learn/videos" target="_blank">Training videos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Exercises<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            @Html.ActionLink("1. Install server", "Server", "Installation")
                        </li>
                        <li>
                            @Html.ActionLink("2. Install tentacle", "Tentacle", "Installation")
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
