@{
    ViewBag.Title = "Welcome!";
}
@section featured {
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <h1>@ViewBag.Title</h1>
                <p class="lead">@ViewBag.Message</p>
            </div>
        </div>
    </div>
}
<div ng-app>
    <div class="col-lg-8">
        <h2>Before we begin:</h2>
        <ul>
            <li>
                <h3>Resources</h3>
                In the main menu, you will find important resources to help you out with this lab. The meaning of this lab is not only to show you what is possible when using Octopus Deploy, but it's also for you to do some reading and searching for solutions on your own. So take a quick look at the resources found in the main menu!
            </li>
            <li>
                <h3>Exercises</h3>
                This lab consists of 11 exercises to take you through the main concepts of Octopus Deploy. All the exercises will be done locally on your own machine so you don't have to worry about setting up any virtual machines to do the exercises. 
            </li>
            <li>
                <h3>Need help?</h3>
                Feel free to contact me on <a href="http://www.twitter.com/karolikl">Twitter</a>.
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">The information box</h3>
            </div>
            <div class="panel-body">
                The information box contains useful information and links to resources that can help you out.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div>
                <p>
                    @Html.ActionLink("Let's begin!", "Server", "Installation", null, new { @class = "btn btn-primary right" })
                </p>
            </div>
        </div>
    </div>
</div>
