@{
    ViewBag.Title = "Exercise 11";
}
@section featured {
    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-12">
                <h1>@ViewBag.Title</h1>
                <p class="lead">@ViewBag.Message</p>
            </div>
        </div>
    </div>
}
<div>
    <div class="col-lg-8">
        <h2>
            Create a variable set
        </h2>
        <p>
            In this exercise, you will create your own variable set and use it in your project.
        </p>
        <ul>
            <li>
                <h3>11.1 Create a variable set</h3>
                Create a variable set in the Octopus Web Portal.
            </li>
            <li>
                <h3>11.2 Add a variable</h3>
                Add the variable used in exercise 7.4 to the library set, and remove it from your project variables.
            </li>
            <li>
                <h3>11.3 Use the variable</h3>
                Configure your project to use the variable set you just created.
            </li>
        </ul>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">The information box</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li><p>If you want to read more about variable sets, take a look at the Library Variable Sets section in <a target="_blank" href="http://docs.octopusdeploy.com/display/OD/Variables">the Octopus Deploy documentation.</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>

